.header {
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 1px 2px #e4e4e4;
  background-color: white;
  z-index: 100;
}

.header .page-img {
  height: 30px;
  width: 30px;
}

.header .container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.header .nav .nav-button {
  background: transparent;
  border: none;
  font-size: 0.875rem;
  padding: 0 1rem;
  cursor: pointer;
  color: #333;
}

.header .nav .nav-button:hover {
  color: black;
}
