.main-header {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.header-title {
  font-size: 50px;
  line-height: 1.15;
  font-weight: 700;
}

.header-location-container {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 auto;
}

.header-location {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.header-location-icon {
  width: 20px;
  height: 20px;
}
