.main-title {
  padding: 4rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.main-title .title {
  font-size: 3.125rem;
  line-height: 1.15;
  font-weight: 700;
}

.main-title .location-container {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 auto;
}

.main-title .location {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4;
}

.main-title .location-icon {
  width: 20px;
  height: 20px;
}
