.recommendations {
  margin-top: 24px;
}

.recommendations .section-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recommendations .section-title-container span {
  font-size: 0.75rem;
  text-decoration: underline;
  cursor: pointer;
}

.carousel {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 0.5rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  flex: 0 0 calc(25% - 16px);
  min-width: 250px;
  background: white;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  box-shadow: 1px 2px #e4e4e4;
  overflow: hidden;

  scroll-snap-align: start;
}

.carousel-img {
  width: 100%;
  height: auto;
}

.carousel-body {
  padding: 1rem;
}

.carousel-title {
  font-size: 1.1rem;
  font-weight: 700;
}

.carousel-subtitle {
  font-size: 0.9rem;
  color: #555;
}

.carousel-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 0.85rem;
  color: #777;
}

@media (max-width: 1024px) {
  .carousel-item {
    flex: 0 0 calc(33.33% - 16px);
  }
}

@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  .carousel-item {
    flex: 0 0 100%;
  }

  .carousel-title {
    font-size: 1rem;
  }

  .carousel-subtitle {
    font-size: 0.85rem;
  }
}
